<%- include('header') %>
<body style="background-size: cover" background="./images/bg-contact.jpg">
    

<div class="container mb-5 text-white shadow-lg rounded bg-dark">
    <div class="row">
        <div class="col p-5">
            <h1>World's leading travel agency company.</h1>
            <h3>
                <small class="text-white-50">Ranked top 5 by Forbes Magazine 4 years in a row.</small>
            </h3>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-md bg-light shadow rounded">
            <div class="container p-5">
                <h2>'$100 Ramen' and Michelin Stars - Food Is at the Center of Japan's Tourism Resurgence</h2>
                <a class="link-dark" href="https://www.barrons.com/articles/100-ramen-and-michelin-starsfood-is-at-the-center-of-japans-tourism-resurgence-be1e5287" target="_blank">
                    <p>Japan—a food destination—is saturated with sushi counters, izakaya watering holes, prix-fixe kaiseki, and family-run Shokudo, among other types of eateries...</p>
                </a>
                
            </div>
        </div>
        <div class="col-md mx-4 bg-light shadow rounded">
            <div class="container p-5">
                <h2>'Dr. Beach' names the top 10 US beaches for 2023</h2>
                <a class="link-dark" href="https://www.cnn.com/travel/best-us-beaches-2023-dr-beach/index.html" target="_blank">
                    <p>Half of the top 10 beaches in the United States for 2023 are in Florida and Hawaii. That’s according to the 2023 list of best US beaches released in May by “Dr. Beach,” aka coastal scientist Stephen Leatherman...</p>
                </a>
            </div>
        </div>
        <div class="col-md bg-light shadow rounded">
            <div class="container p-5">
                <h2>Memorial Day weekend air travel surpasses pre-pandemic levels</h2>
                <a class="link-dark" href="https://www.cnn.com/travel/article/airline-passengers-tsa-memorial-day/index.html" target="_blank">
                    <p>More travelers passed through airports this Memorial Day weekend than in the same holiday period before the pandemic, according to Transportation Security Administration figures shared with CNN...</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container mb-4">
    <div id="carouselmain" class="carousel slide carousel-fade" data-bs-theme="dark">
        <!-- Carousel slide indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselmain" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselmain" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselmain" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselmain" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <!-- Carousel body/images -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/hawaii.jpg" class="d-block w-100 rounded" style="width: 100%; aspect-ratio: 3/2;">
            </div>
            <div class="carousel-item">
                <img src="images/iceland.jpg" class="d-block w-100 rounded" style="width: 100%; aspect-ratio: 3/2;">
            </div>
            <div class="carousel-item">
                <img src="images/safari.jpg" class="d-block w-100 rounded" style="width: 100%; aspect-ratio: 3/2;">
            </div>
            <div class="carousel-item">
                <img src="images/tokyo.jpg" class="d-block w-100 rounded" style="width: 100%; aspect-ratio: 3/2;">
            </div>
        </div>
        <!-- Carousel Next/Previous controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselmain" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselmain" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
</body>
<%- include('footer') %>