<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
    <section class="min-vh-100 vh-auto img-responsive gradient-custom-1"
        style="background-size: cover; background-image: url('/images/bg-contact.jpg');" >
        <div class="mask d-flex align-items-center h-100 gradient-custom-2">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <div class="d-flex justify-content-center">
                                    <a href="/"><img src="/images/logo.png" alt="logo" width="100px" height="100px"></a>
                                </div>

                                <br/>

                                <h2 class="text-uppercase text-center mb-5">Travel Experts | Privacy Policy</h2>

                                <h3>Introduction</h3>
                                <br/>
                                <p>The present Privacy Policy ("Policy") aims to demonstrate the commitment of Travel Experts Inc., with the protection of personal data that identifies you individually ("Personal Data") and other data provided, describing Travel Experts’ practices in relation to data collected through its websites, blogs, applications and platforms (hereinafter referred to indistinctively as the "Site"), in accordance with the laws in force ("PIPA").
                                Travel Experts has as its goal the provision of quality products and the execution of excellent customer service. To ensure that Travel Experts’ customers find the same efficiency and quality both in attendance and when navigating our site, we have prepared the following Policy to guarantee your privacy and protection of your personal data.
                                As a condition for accessing and using the website exclusive functionalities, you declare that you are over eighteen (18) years of age and that you have read and fully understood the rules of this Privacy Policy, thus confirming your free, informed, and unequivocal agreement with the terms stipulated herein. If you do not agree with the rules of this Privacy Policy, you should discontinue your access to the Site.</p>
                                <br/>
                                <b>IF YOU DO NOT AGREE WITH THE RULES OF THIS PRIVACY POLICY, YOU SHOULD DISCONTINUE YOUR ACCESS TO THE SITE.</b>
                                <br/>
                                <br/>
                                <h3>Objectives</h3>
                                <br/>
                                <p>The objective of this Privacy Policy is to establish standards and guidelines concerning the treatment of personal data collected by Travel Experts’ Site.
                                This document was prepared to clarify how personal data is handled by Travel Experts, in compliance with the PIPA.
                                By consenting to this Privacy Policy, you agree to the terms described herein and to the treatment of personal data for the purposes described below.
                                Your consent is voluntary. However, without your consent, Travel Experts may not offer you the services of the Site, in whole or in part.
                                </p>
                                <br/>
                                <h3>Terms and Definitions</h3>
                                <br/>
                                <p>For the understanding of this Policy, we must consider the descriptions of the definitions as detailed below:</p>
                                <br/>
                                <ol>
                                    <li>Anonymization - use of reasonable and available technical means at the time of processing, whereby a data loses the possibility of association, directly or indirectly, with an individual;</li>
                                    <li>National Authority / Data Protection Authority (ANPD) - public administration body responsible for overseeing, implementing and supervising compliance with the PIPA throughout the national territory;</li>
                                    <li>Database - structured set of personal data, established in one or several places, in electronic or physical support;</li>
                                    <li>Block - temporary suspension of any processing operation, by keeping the personal data or the database;</li>
                                    <li>Collaborators - People hired to integrate Travel Experts staff;</li>
                                    <li>Consent - free, informed and unequivocal manifestation by which the holder agrees with the treatment of his personal data for a specific purpose;</li>
                                    <li>Controller - a natural or legal person, governed by public or private law, who is responsible for making decisions regarding the processing of personal data;</li>
                                    <li>Cookies - Data obtained from Internet files that temporarily store what you are visiting on the net, which can be obtained by Travel Experts’ sites and applications and which allow Travel Experts to track the sections visited, the periodicity and duration of the visits, and also provide automatic logins, personalization resources, for example.</li>
                                    <li>Personal Data - information relating to an identified or identifiable natural person;</li>
                                    <li>Sensitive Personal Data - personal data concerning racial or ethnic origin, religious conviction, political opinion, membership of a trade union or religious, philosophical or political organization, data concerning health or sex life, genetic or biometric data, when linked to a natural person;</li>
                                    <li>Elimination / Disposal / Exclusion - exclusion of personal data or of a set of personal data stored in a database, regardless of the procedure employed;</li>
                                    <li>Purpose - the reason for which the processing of the holder's personal data is carried out;</li>
                                    <li>Privacy Incident - any accidental or illicit situations that result in the destruction, loss, alteration, improper access, illicit or inadequate treatment of Personal Data;</li>
                                    <li>General Law for the Protection of Personal Data (PIPA) - Law No. 13,709/2018 and its subsequent amendments, which provides for the processing of personal data of natural persons, regardless of the medium, by natural person or legal entity of public or private law, in order to protect the fundamental rights of freedom and privacy and the free development of the personality of the natural person;</li>
                                    <li>Operator - a natural or legal person, governed by public or private law, who carries out the processing of personal data on behalf of the controller;</li>
                                    <li>Site - Travel Experts’ sites, blogs and applications;</li>
                                    <li>Holder - a natural person to whom the personal data that is the object of processing refers. The holder may be, for example, a Site user, a customer representative, a Travel Experts employee, among others;</li>
                                    <li>Processing - any operation carried out with personal data, such as those referring to the collection, production, reception, classification, use, access, reproduction, transmission, distribution, processing, filing, storage, elimination, evaluation or control of the information, modification, communication, transfer, diffusion or extraction;</li>
                                    <li>International Transfer of Personal Data - the transfer of personal data to a foreign country or international body of which the country is a member;</li>
                                    <li>Shared Use of Personal Data - communication, dissemination, international transfer, interconnection of personal data or shared processing of personal data banks by public bodies and entities in compliance with their legal powers, or between these and private entities, reciprocally, with specific authorization, for one or more processing modalities permitted by these public entities, or between private entities.</li>
                                </ol>
                                <br/>
                                <h3>What Personal Data is Processed?</h3>
                                <br/>
                                <p>In order for Travel Experts to process the Personal Data provided for in this Policy, it is essential to collect some information about you. Thus, Personal Data provided directly by you, by third parties or collected automatically may be collected, according to the purpose of treatment. See below the forms of Personal Data collection:
                                Personal Data provided directly by you: All Personal Data submitted by you directly to the Site or through forms or comments completed or posted by you will be collected.
                                The information we collect directly from you may include, but is not limited to: your name, e-mail address, cookies, IP address, and the content, date and time of comment creation. This information is collected for security reasons, as the provider may be prosecuted in the event of illicit content, such as prohibited advertising, offensive content, among others. In this particular case this information may be used to determine the identity of the user-author of the comment.
                                If you subscribe to receive updates to the comments, you will receive a confirmation e-mail. By sending this e-mail we ensure that the user is the owner of the e-mail address given when signing up, and that the user is interested in the mentioned updates.
                                If you contact us via the online form or via e-mail, we will store the information you provide in order to respond to your request and to answer any questions you may have.
                                Personal Data provided by third parties: Travel Experts may receive your Personal Data through third parties, whether business partners or service providers that have a relationship with us. It is also possible that Travel Experts will collect Personal Data from public databases, made available by authorities (such as the Internal Revenue Service, for example) or by third parties, or even personal data made public by you on websites or social networks, always respecting your privacy and in accordance with the rules and legislation in force.
                                The personal data collected may vary according to the nature of the service provided, product purchased or type of your relationship with Travel Experts.
                                The Site is not intended for minors, so we do not knowingly collect or process any data from children or adolescents. If you are a minor, you should not access or use the Site without legal representation from your legal guardian. If Travel Experts unintentionally identifies personal data of minors, it will remove this personal data.
                                The Personal Data processed by Travel Experts will be stored for the time necessary to fulfill the purposes for which they were collected or, furthermore, to comply with legal and/or regulatory requirements, fulfill contractual obligations, so that Travel Experts can exercise its rights in administrative, arbitration and/or judicial proceedings, or, furthermore, to comply with the other hypotheses foreseen in the PIPA. Upon expiration of the period for storing Personal Data, Travel Experts shall securely delete it.
                                </p>
                                <br/>
                                <h3>The rules below will necessarily be followed for all personal data collection:</h3>
                                <br/>
                                <p>Only personal data that is essential for the achievement of the purpose intended and informed here will be collected.
                                If necessary, we will ask for your authorization or advise you of the collection of new personal data, accompanied by the appropriate justification.
                                The personal data collected will only be used to comply with the purposes informed to the holder.
                                </p>
                                <br/>
                                <b>IT IS YOUR DUTY TO PROVIDE INFORMATION, INCLUDING PERSONAL DATA, THAT IS CORRECT AND UPDATED. TRAVEL EXPERTS IS NOT RESPONSIBLE FOR THE ACCURACY, VERACITY OR LACK THEREOF IN THE INFORMATION PROVIDED BY YOU, AND MAY, AT ITS SOLE DISCRETION, SUSPEND AND/OR CANCEL YOUR REGISTRATION, AT ANY TIME, IF ANY INACCURACY IS DETECTED.</b>
                                <br/>
                                <br/>
                                <h3>What is the purpose of processing Personal Data?</h3>
                                <br/>
                                <p>The Personal Data processed by Travel Experts, as controller or operator, is intended to meet the following purposes:</p>
                                <br/>
                                <ol>
                                    <li>Use of the functionalities of the Site;</li>
                                    <li>Service and support provided by Travel Experts in relation to the Site;</li>
                                    <li>To apply for professional opportunities at Travel Experts;</li>
                                    <li>Conducting research and developing new products or services, as long as authorized by you and with the guarantee that the information will be anonymous;</li>
                                    <li>Compliance with legal obligations and/or regulatory agencies;</li>
                                    <li>Compliance with judicial and/or administrative orders;</li>
                                    <li>To inform you about Travel Experts’ news, products, services, functionalities, content, promotions, news and other relevant events, if you give your prior consent;</li>
                                    <li>Improving Travel Experts’ Site;</li>
                                    <li>Improvement of the content informed by Travel Experts;</li>
                                    <li>To provide you with a good and easy navigation experience on Travel Experts’ Site;</li>
                                    <li>To enrich Travel Experts’ database by adding information from legitimate sources (including information from the databases of other companies with which Travel Experts has a relationship) when necessary to establish or maintain contact about Travel Experts’ products and services or to understand your consumer profile in order for Travel Experts to suggest targeted products and services from Travel Experts or from partners with whom Travel Experts has a commercial relationship;</li>
                                    <li>Operating, evaluating and improving Travel Experts’ business, including analyzing and reviewing Travel Experts’ customer base and services; analyzing data and market research; and performing accounting, auditing and other internal functions;</li>
                                    <li>Maintaining internal records, for the purposes of auditing, accounting and other internal functions;</li>
                                    <li>Implement and maintain technical and organizational security measures, internal audits and investigations, conflict of interest checks;</li>
                                    <li>Respond to your requests;</li>
                                    <li>Communicate changes to the Privacy Policy, if necessary; and</li>
                                    <li>Protect, identify, and prevent fraud or other unlawful activities.</li>
                                </ol>
                                <br/>
                                <p>Personal Data will be stored for operational purposes and will obey strict standards of confidentiality and security. No document, information and/or personal data will be disclosed and/or shared under any circumstances, except when expressly authorized by you, for the purpose of complying with the contracted services, by judicial/administrative order, by legal/regulatory determination, for exercising Travel Experts’ rights in administrative, arbitration and/or judicial proceedings, or other cases provided for in this Policy or in applicable legislation, especially in the General Law of Data Protection. The personal data collected, and the processing activities recorded may also be shared with competent judicial, administrative or government authorities, whenever there is a request, requisition or court order.
                                The database formed through the collection of personal data on the Site is the property and responsibility of Travel Experts, and its use, access and sharing, when necessary, will be carried out within the limits and purposes of its business, and may, in this sense, be made available for consultation and provided to suppliers, service providers, business partners and authorities, as long as the provisions of this Privacy Policy and the PIPA are complied with.
                                Internally, your personal data is only accessed by duly authorized employees, respecting the principles of purpose, adequacy, necessity, minimum retention and other principles inherent to the treatment of personal data, always for the purposes of Travel Experts, in addition to the commitment to confidentiality and preservation of privacy under the terms of this Privacy Policy.
                                Should there be any change concerning the purpose of the use of Personal Data that is not compatible with the original acceptance provided by means of this Privacy Policy, Travel Experts will request a new acceptance from you.
                                </p>
                                <br/>
                                <h3>What is the legal basis for the processing of Personal Data?</h3>
                                <br/>
                                <p>The use (or "processing") of your personal data may be carried out:</p>
                                <br/>
                                <ol>
                                    <li>Upon your free, informed and unambiguous consent, only when legally required or permitted. If Travel Experts uses your consent as a legal basis for processing your Personal Data, you may withdraw your consent at any time;</li>
                                    <li>To comply with a legal or regulatory obligation;</li>
                                    <li>For the regular exercise of rights in judicial, administrative or arbitration proceedings;</li>
                                    <li>To establish a contractual relationship between you and Travel Experts and/or Travel Experts’ business partners and to fulfill the obligations assumed under a contract;</li>
                                    <li>In order to respond to your requests;</li>
                                    <li>To protect the vital interests of any person;</li>
                                    <li>On the basis of any other legal basis permitted by the PIPA;</li>
                                    <li>When necessary to meet the legitimate interests of Travel Experts, including for the following purposes:</li>
                                    <li>Obtaining personal data to support and promote Travel Experts’ activities;</li>
                                    <li>Ensuring that our networks and information are secure;</li>
                                    <li>To manage and conduct business within Travel Experts;</li>
                                    <li>To prevent or investigate suspected or actual violations of law, contractual violations, or other Travel Experts policies;</li>
                                    <li>Optimize or broaden our business reach and communication relevance.</li>
                                </ol>
                                <br/>
                                <h3>Sharing of Data with Third Parties</h3>
                                <br/>
                                <p>The Personal Data processed by Travel Experts may be shared with and accessed by third parties as defined below.</p>
                                <br/>
                                <h4>For our business purposes</h4>
                                <br/>
                                <p>Travel Experts may share personal data with third parties for its own business purposes. Travel Experts will share personal data that is strictly necessary to provide or otherwise enable us to provide services to you, as well as for various internal purposes, such as, but not limited to: ensuring the security of Travel Experts’ services, improving the quality of the services Travel Experts provides, and analyzing personal data that is collected.</p>
                                <br/>
                                <h4>To provide services and products</h4>
                                <br/>
                                <p>Travel Experts may share personal data with its business partners, who help Travel Experts provide products and services to you. Travel Experts needs to share personal data with these business partners in order to process your orders, fulfill your requests, provide customer support, or provide other services and functions, such as displaying geolocation information on Travel Experts’ Site. Travel Experts may also share personal data with other companies within its Group in order to better serve you or maintain Travel Experts’ business.</p>
                                <br/>
                                <h4>For Other Internal Reasons</h4>
                                <br/>
                                <p>Travel Experts may share personal data with partners and other entities that provide Travel Experts with certain services or that assist with internal functions or with complying with legal/regulatory provisions or other hypotheses foreseen in the General Law of Data Protection such as data analysis, maintaining the security of internal systems, information security, auditing companies, law firms, data analytics companies, quality assurance assessors, among others.</p>
                                <br/>
                                <h4>For Legal Purposes</h4>
                                <br/>
                                <p>Travel Experts may share Personal Data with partners and other entities when necessary to comply with legal obligations, including compliance with any applicable law or regulation, judicial, arbitration, or administrative proceedings. Travel Experts may also share information and personal data to protect and defend the rights of Travel Experts, personal data subjects, or any other person, to protect against fraudulent or malicious activity, to enforce the terms of this Privacy Policy, or to cooperate with law enforcement agencies.</p>
                                <br/>
                                <h4>In connection with corporate transactions</h4>
                                <br/>
                                <p>If Travel Experts, directly or indirectly, enters into the process of a business transaction, such as merger, acquisition by another company, or sale of all or part of its assets, Travel Experts may share all Personal Data to the successor or potential successor company, as well as to its employees during the transaction and with auditing firms and law firms assisting in the transaction.</p>
                                <br/>
                                <h4>When you consent to disclosure</h4>
                                <br/>
                                <p>Travel Experts may share certain personal data with partners or other entities when you consent to the sharing of such personal data in a specific consent form formalized prior to the sharing of the personal data.</p>
                                <br/>
                                <h4>International Transfer of Personal Data</h4>
                                <br/>
                                <p>Travel Experts has business partners and/or service providers based abroad and therefore may transfer your Personal Data to operators based in other countries. Travel Experts may transfer your Personal Data for the purposes set out in this Policy, in connection with this Privacy Policy and applicable laws. You should be aware that personal data protection laws in various countries may not offer the same level of protection that the PIPA does.
                                International transfers of personal data carried out by Travel Experts are done in line with the provisions of the General Law on Data Protection.
                                </p>
                                <br/>
                                <h3>What are your rights?</h3>
                                <br/>
                                <p>In compliance with the PIPA, Travel Experts ensures the following rights to you:</p>
                                <ol>
                                    <li>The confirmation of the existence of personal data processing;</li>
                                    <li>The access to your personal data;</li>
                                    <li>The correction of incomplete, inaccurate or outdated personal data;</li>
                                    <li>The anonymization, blocking or deletion of unnecessary, excessive personal data or data treated in non-compliance with the PIPA;</li>
                                    <li>The deletion of personal data processed with the consent of the data subject, with exceptions provided for in the PIPA;</li>
                                    <li>The information of public and private entities with which Travel Experts has shared personal data;</li>
                                    <li>The information about the possibility of not providing consent and the consequences of refusal;</li>
                                    <li>The revocation of consent, under the terms of the PIPA;</li>
                                    <li>Review of automated decisions;</li>
                                    <li>Opposition to processing carried out on the basis of one of the cases of waiver of consent, in case of non-compliance with the provisions of the PIPA.</li>
                                </ol>
                                <br/>
                                <p>The rights of the owners foreseen in the PIPA and in this Policy may be exercised upon express request to Travel Experts by you or your legal representative and may be done through the following communication channel: privacy@travelexperts.ca
                                You are aware that any request to delete personal data essential for the management of your registration with Travel Experts, when applicable, may result in the termination of your contractual relationship, with the consequent cancellation of the services then provided, when applicable. Travel Experts will make all reasonable efforts to meet the requests made by you, in the shortest time possible, and in conformity with the legal requirements. However, justifiable factors may delay or prevent the rapid fulfillment of your request, and in case of delay, you will be informed of the reasons for the delay.
                                You should be aware that your request may be legally rejected, either for formal (for example, your inability to prove your identity) or legal reasons (for example, the request to delete personal data that Travel Experts is free to exercise its rights to retain).
                                </p>
                                <br/>
                                <h3>Links to third-party sites</h3>
                                <br/>
                                <p>Travel Experts’ Privacy Policy is pertinent only to the Site, and is not applicable to any other site that is associated with it or that, in some way, is related to it by means of links or other forms of dissemination and access.
                                It is worth pointing out that Travel Experts is not responsible for the content and the Privacy Policy practiced by these sites. Third parties have their own policy for the collection, use, sharing and treatment of personal data. It is up to these third parties to properly maintain any type of treatment of personal data related to their services. Travel Experts recommends that you read the policies of these third parties before providing your personal data or information.
                                </p>
                                <br/>
                                <h3>Cookies</h3>
                                <br/>
                                <p>This information is used to understand how you interact with the content contained in Travel Experts’ Site, facilitating subsequent visits through automatic logins, personalization features and, in some cases, for marketing purposes.
                                </p>
                                <br/>
                                <p>Travel Experts’ Site may use some types of cookies to improve your browsing experience.</p>
                                <br/>
                                <h3>Use of Google Analytics</h3>
                                <br/>
                                <p>This website uses Google Analytics, a web analytics service provided by Google Inc. Google Analytics uses so-called "cookies", text files stored on your computer, to analyze your use of this website. The information about your use of this website generated by the cookie is usually transmitted to and stored on a Google server located in the USA. In the event that IP anonymization is activated on these websites, the IP address of users from Member States of the European Union or other states that are signatories to the Agreement on the European Economic Area will be truncated by Google. The full IP address will only be transmitted to and shortened by a Google server in the USA in exceptional cases.

                                Google will use this information on behalf of the website provider for the purpose of evaluating your use of the website, compiling reports on website activity and providing other services for the website provider in connection with website and internet usage. The IP address transmitted by your browser within the framework of Google Analytics is not associated with other Google data. You can prevent the storing of cookies by making the appropriate setting in your browser software. However, please note that restricting cookies may affect the full functionality of this website.

                                In addition, you can prevent Google from collecting and processing data collected by cookies based on your use of the website (including your IP address) by downloading and installing the browser plug-in available at the following link: browser add-on to disable Google Analytics.
                                </p>
                                <br/>
                                For more information visit <a href="https://www.canada.ca/en/treasury-board-secretariat/services/access-information-privacy/privacy/web-analytics-privacy-impact-assessment-report.html">Canada Privacy Assessment</a>
                                <br/>
                                <br/>
                                <h3>Use of Google AdWords</h3>
                                <br/>
                                <p>This website uses the online advertising program "Google AdWords" and as part of this, the tracking of conversions. Google Adwords installs a cookie on your computer if you have accessed our Site through a Google ad. Such cookies expire after 30 days and are not used for personal identification. If the user visits certain pages of our Site, and the cookie has not yet expired, we and Google can see that the user clicked on the ad and was redirected to this page. Each Google AdWords customer receives a different cookie. Cookies can therefore not be tracked across AdWords customer sites.

                                The information collected using conversion cookies is used to generate conversion statistics for AdWords customers who have opted-in to conversion tracking. Customers see the total number of users who clicked on your ad and were redirected to a page with a conversion tracking tag. However, they will not receive any personally identifiable information about the users.
                                
                                If you do not want to participate in the tracking process, you can easily disable the Google conversion tracking cookie via your web browser in the user settings area. This way you will not be included in conversion tracking statistics.
                                </p>
                                <br/>
                                <h3>Communication and Marketing</h3>
                                <br/>
                                <p>If you have registered to receive Travel Experts’ e-mail marketing, you will receive news and personalized advertising about our products and services.
                                By registering to receive e-mail marketing from Travel Experts, you declare that you agree that Travel Experts will carry out a personalized compilation of news and offers, as well as evaluate your Site usage patterns, so that the sending of personalized e-mail marketing will meet your needs and interests.
                                Personal data is also stored and used for promotional purposes and market research. To this end, Travel Experts will only contact you by email. Finally, Travel Experts will also use your personal data to analyze and improve the effectiveness of the Site.
                                If you no longer wish to receive e-mail marketing from Travel Experts, you can cancel your registration at any time. To do this, you can click on the unsubscribe link present in all newsletters to be directed to the unsubscribe process, or you can use one of the means of communication mentioned in this Privacy Policy.
                                </p>
                                <br/>
                                <h3>Storage of Personal Data</h3>
                                <br/>
                                <p>The personal data and activity records collected will be stored in a secure and controlled environment for a minimum period of 6 (six) months, pursuant to Law, observing the state of the art available. However, considering that no security system is infallible, Travel Experts disclaims any responsibility for any damages and/or losses arising from failures, viruses or invasions of our database, except in cases where we are at fault.
                                The personal data may be deleted before this period, if requested by the owner. However, based on the assumptions of processing of personal data provided in this Privacy Policy and the PIPA, including for reasons of law, regulation and/or judicial determination, audit, security, fraud control and preservation of rights, the registration data may be kept for a longer period, after which they will be deleted using secure disposal methods.
                                The personal data collected on the Site is stored on Travel Experts’ own servers located in Canada, as well as in the cloud, which may give rise, in this situation, to the transfer or processing of data outside Canada, in third countries.
                                </p>
                                <br/>
                                <h3>Security Measures</h3>
                                <br/>
                                <p>Travel Experts takes appropriate technical and organizational measures in line with current market standards to protect Personal Data against Privacy Incidents. Travel Experts frequently updates technical and organizational measures, provided, however, that such modifications do not diminish the overall level of security.

                                Under the terms of the General Law on the Protection of Personal Data and in accordance with its internal regulations on the protection of personal data, Travel Experts will inform the data subjects in the event of a Privacy Incident that could result in significant risk or damage to the data subjects.
                                </p>
                                <br>
                                <h3>General Provisions</h3>
                                <br/>
                                <p>This is the most updated version of the Privacy Policy. Travel Experts may alter the content of this Privacy Policy at any time, in accordance with the purpose or need, such as to adapt and legally conform to the provisions of the law or norms that have equivalent legal force, and it is up to you to verify it whenever you access the Site.
                                If you have any questions about the conditions established in this Privacy Policy or any Travel Experts document, please contact us through Travel Experts’ customer service channels.
                                In the event that any provision of this Privacy Policy is deemed illegal or illegitimate by the authority of the location in which you reside or of your Internet connection, the other conditions will remain in full force and effect.
                                You acknowledge that all communication made by e-mail (to the addresses informed by you), SMS, instant communication applications, videoconference or any other digital, virtual and digital form are also valid as documentary proof, being effective and sufficient for the disclosure of any subject that refers to the services provided by Travel Experts, as well as the conditions of its provision, except for the expressly diverse provisions foreseen in this Privacy Policy.
                                </p>
                                <br/>
                                <h3>Applicable Law and Jurisdiction</h3>
                                <br/>
                                <p>This Privacy Policy and the relationship arising from the actions comprised herein, as well as any dispute arising therefrom, shall be governed exclusively by the Canadian legislation.</p>
                            </div> 
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>                                          
</body>
