<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <style>
        .gradient-custom-1 {
            background-size: cover;
        }

        .gradient-custom-2
        {
            background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
        }

        .btn {
            width: 100%;          
            --mdb-btn-padding-top: 0.625rem;
            --mdb-btn-padding-bottom: 0.5rem;
            --mdb-btn-border-width: 0;
            --mdb-btn-border-color: none;
            --mdb-btn-border-radius: 0.25rem;
            --mdb-btn-box-shadow: 0 4px 9px -4px rgba(0,0,0,0.35);
            --mdb-btn-hover-box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
            --mdb-btn-focus-box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
            --mdb-btn-active-box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
            padding-top: var(--mdb-btn-padding-top);
            padding-bottom: var(--mdb-btn-padding-bottom);
            text-transform: uppercase;
            vertical-align: bottom;
            border: 0;
            border-radius: var(--mdb-btn-border-radius);
            box-shadow: var(--mdb-btn-box-shadow);
        }
       
        .btn:hover {
            box-shadow: 0 8px 9px -4px rgba(20,164,77,.3), 0 4px 18px 0 rgba(20,164,77,.2);
        }
    </style>
</head>
<body>
    <section class="min-vh-100 vh-auto img-responsive gradient-custom-1"
        style="background-image: url('/images/iceland.jpg');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-2">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <div class="d-flex justify-content-center">
                                    <a href="/"><img src="/images/logo.png" alt="logo" width="100px" height="100px"></a>
                                </div>

                                <br/>

                                <h2 class="text-uppercase text-center mb-5">Thanks! <br/>Welcome to Team &#127758;</h2>
                            </div> 
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>                                          
</body>