.bg-beige{
	background-color: beige;
}
figure{
  border: 2px solid #ccddee;
  padding: 10px;
}
.p_image{
  width:99%;
  height:200px;

}
.v_image{
  width: 100%;
  aspect-ratio: 3/2;
}
figcaption {
  font-size: 16pt;
  font: italic  sans-serif;
  padding: 3px;
  text-align: center;
}

#p4 {background-color:rgba(192,192,192,0.3);}

.checked {
  color: orange;
}

table {
  width: 100%;
}

a {
  text-decoration: none;
  
}
.card{
  height: 100%;
}

#package-card{
  height: 75%;
}

.gradient-custom-2
{
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}