.form-container {
    float: left;
    width: 600px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-right: 20px;
  }

  .other-content {
    margin-left: 420px;
  }
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }