.form-container {
    float: left;
    width: 600px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-right: 20px;
  }

  .other-content {
    margin-left: 420px;
  }
  .card-img-top {
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }